.coa-select-container>.coa-select__control.coa-select__control--is-focused {
    border: none !important;
    outline: 2px dotted #333333 !important;
    outline-offset: 1px !important;
    box-shadow: 0 0 0 1px #777777 !important;
}

.coa-select-container>.coa-select__control>.coa-select__value-container {
    position: unset !important;
}

.coa-select-container>.coa-select__control>.coa-select__value-container>.coa-select__indicators>.coa-select__indicator.coa-select__dropdown-indicator {
    padding: 0 !important;
}

.coa-select__option.coa-select__option--is-selected {
    background-color: transparent !important;
    color: black !important;
}

.coa-select__option.coa-select__option.coa-select__option--is-focused.coa-select__option--is-selected {
    background-color: rgb(240, 240, 255) !important;
    color: black !important;
}